# Root gitignore
/backend.zip
/package-lock.json
backend/node_modules
backend/vendor
backend/.env
backend/storage/*.key
backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views
backend/storage/pail
backend/public/storage
backend/public/build
backend/.phpunit.cache
backend/.phpdoc/
backend/docs/classes/
backend/docs/css/
backend/docs/files/
backend/docs/graphs/
backend/docs/images/
backend/docs/index.html
backend/docs/indices/
backend/docs/js/
backend/docs/namespaces/
backend/docs/packages/
backend/docs/reports/

frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local

.DS_Store
.idea
.vscode
*.log
.vercel
