.env
.env.*
.phpdoc
.phpunit.cache
auth.json
docs/classes
docs/css
docs/files
docs/graphs
docs/images
docs/index.html
docs/indices
docs/js
docs/namespaces
docs/packages
docs/reports
bootstrap/cache/*.php
node_modules
public/build
public/hot
public/storage
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
tests
vendor
